// Define variables for your color scheme

// For example:
$color-primary: #d23369;
$color-secondary: #9C254D;
$color-tertiary: #2A3990;
$dark-blue: #00005C;
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
