<div class="container">
    <div class="navbar">
      <div class="logo">
      <%= image_tag("butler.png") %>
        <h1 class="butlerMe">AlfredMe_</h1>
      </div>
      <form action="" class="search">
        <input type="text">
        <%= link_to "Search", new_user_session_path(@user), class: "nav-btn"%>
      </form>
      <div class="login">
        <%= link_to "Login / Sign In", new_user_session_path(@user), class: "nav-btn"%>
      </div>
    </div>
  </div>
