<div class="container">
    <div class="navbar">
      <div class="logo">
        <img src="logo.png" alt="">
        <h1 class="butlerMe">ButlerMe</h1>
      </div>
      <form action="" class="search">
        <input type="text">
        <button name="button" type="submit">
          <i class="fas fa-search"></i> Search
        </button>
      </form>
      <div class="login">
        <button name="button" type="submit">Login / Sign In</button>
      </div>
    </div>
  </div>
