.navbarus {
  margin: 0;
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  left: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: white;
  align-items: center;
  z-index: 1;
}

.navbar-droite {
  li {
    display: inline;
    list-style: none;
    padding-right: 5px;
  }
  margin-right: 5%;
  img {
    cursor: pointer;
  }
}

.search input {
  margin-right: 20px;
  display: inline;

}

.nav-btn {
  background-color: #0275D8;
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  box-shadow: 0 0 3px #ccc;

  &:hover {
    background-color: #0274d877;
  }
}
.logo {
  display: flex;
  justify-content: center;
  height: 50px;
  object-fit: fill;
  margin-left: 5%;
}

.navbar form {
  display: flex;
}
.login {
  margin-right: 20px;
}
