.navbarus {
  margin: 0;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-bottom: 20px;
  justify-content: space-between;
  background-color: white;
  align-items: center;
  z-index: 1;
}

.noborder {
  border: none;

}
.search-home {
  width: 100%;
    padding-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.navbar-gauche {
  width: 70%;
}

.navbar-droite {
    display: flex;
    align-items: center;
  li {
    list-style: none;
  }
  img {
    cursor: pointer;
  }
}

.search {
  display: flex;
  align-items: center;
}

.search input {
  display: inline;
}

.nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-btn {
  background-color: #0275D8;
  height: 38px;
  border-radius: 5px;
  padding: 10px;
  color: white;
  box-shadow: 0 0 3px #ccc;

  &:hover {
    background-color: #0274d877;
  }
}
.logo {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  height: 50px;
  object-fit: fill;
  margin-left: 5%;
}

.input .nav-btn{
  vertical-align: center;
}

.navbar form {
  display: flex;
}
.login {
  margin-right: 20px;
}
