
.box-show {
  // background-color: red;
  width: 50%;
  padding: 30px;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  margin-top: 100px;
}

.parent-top {
  margin-bottom: 15px;
  width: 300px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}

.divtop1 {
  grid-area: 1 / 1 / 3 / 2;

  img {
    width: 300px;
    height: 305px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
  }
}

.divtop2 {
  grid-area: 1 / 2 / 2 / 3;
  width: auto;

  img {
    width: 150px;
    height: 150px;
  }
}

.divtop3 {
  grid-area: 2 / 2 / 3 / 3;
  width: auto;

  img {
    width: 150px;
    height: 150px;
  }
}

.divtop4 {
  grid-area: 2 / 3 / 3 / 4;
  width: auto;

  img {
    width: 150px;
    height: 150px;
    border-bottom-right-radius: 25px;
  }
}

.divtop5 {
  grid-area: 1 / 3 / 2 / 4;
  width: auto;

  img {
    width: 150px;
    height: 150px;
    border-top-right-radius: 25px;

  }

}

.parent-bottom {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  img {
    width: 100%;
    border-radius: 5px;
  }

  li {
    list-style-type: none;
    text-align: left;
  }

  .fa-solid {
    margin-right: 15px;
  }

}

.divbottom1 { grid-area: 1 / 1 / 2 / 2; }
.divbottom2 { grid-area: 2 / 1 / 3 / 2; }
.divbottom3 { grid-area: 1 / 2 / 3 / 3; }
